$brand-primary:#482668;

.example-container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
}

.example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    height: 500px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
    overflow-y: scroll;
}
.container{
    background-color: #fff;
}
.main{
    border-top: 3px solid $brand-primary;
    border-bottom: 3px solid $brand-primary;
}
.example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-card {
    width: 300px;
    height: 310px;
    max-width: 400px;
}

.add-card {
    width: 300px;
    height: 310px;
}

.add-card-content {
    display: flex;
    justify-content: center;
    height: 310px;
    align-items: center;
    color: $brand-primary;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.card-hover:hover {
    transform: translate(5px, 5px);
}

.card-shadow:hover {
    box-shadow: 2px 2px 2px 2px #940571;
}

.mat-stepper-horizontal {
    margin-top: 8px;
}

.mat-form-field {
    margin-top: 16px;
}

.delete_icon {
    vertical-align: middle;
    color: #424e54;
    font-size: 18px;
}

.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: 0.5;

    &:before {
        content: "";
        // use the linear-gradient for the fading effect
        // use a solid background color for a solid bar
        background: linear-gradient(to right, transparent, #818078, transparent);
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 1px;
    }

    &:after {
        content: attr(data-content);
        position: relative;
        display: inline-block;
        color: black;

        padding: 0 0.5em;
        line-height: 1.5em;
        // this is really the only tricky part, you need to specify the background color of the container element...
        color: #818078;
        background-color: #fcfcfa;
    }
}

.uploadButton {
    display: none;
}

.border-title {
    border-bottom: 2px #482668 solid;
    padding-bottom: 5px;
}

.action-button {
    width: 360px;
    background-color: $brand-primary;
}
.btn{
    background-color: $brand-primary;
    color: #fff;
}
.btn-app{
  margin-right: 15px;
}
.info-button {
    width: 360px;
    background-color: #963e6a;
}

.secondary-button {
    width: 360px;
    background-color: #8f076e;
}

.block {
    //background-color: #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ddd;
    transition: all 0.3s ease-in-out;
    margin: 10px;
}

.block:hover {
    background-color: #963e6a26;
    box-shadow: 0px 0px 20px #ccc;
}

.p-field-radiobutton {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.labelType {
    margin-left: 0.5rem;
    line-height: 1;
    margin-bottom: 0px;
    font-weight: 500;
}


//Pawan

.mat-button:hover{
    background-color: #5d0aab;
}
.mat-button{
    background-color: #482668;
    color: white;
}
.mat-stroked-button{
    background-color: #482668;
    color: white;
    
}
.mat-stroked-button:hover{
    background-color: #5d0aab;
}
.btn{
    color:white;   
}
.smaller-box-footer{
    background-color: #482668;
    color:white;
    background-color: white;
    color: white;
    // background-color: #0000001a; 
    color: black;
    display: block;
    padding: 3px 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    z-index: 10;
    margin-bottom: -5px;
    border-radius: 10px;
}
.smaller-box-footer:hover{
    background-color: #5d0aab;
    color:white;
}
.Onboarding{
    display: flex;
    justify-content: right;
    background-color:#482668;
    
}
.btn.action-button{
    background-color: #482668;
    margin-left: 796px;
    margin-top: -52px;
}

.btn.action-button:hover{
    background-color: #5d0aab;
}

.sec{
    font-family: Arial, sans-serif;
}
.table{
    width: 97%;
    border-collapse: collapse;
    margin: 10px;   
}
.tr{
    background-color: #482668;
    color: #fff;   
}
.tr th{
    border: 0px solid #ddd;
    margin-bottom: 40px;
}

// .blurred {
//     filter: blur(5px);
//   }

  @import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

  :root {
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0;
  }
  
  * {
    box-sizing: border-box;
    font-family: 'Roboto';
  }
  
  body {
    background-color: #f6f7fb;
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
  }
  
  .container-fluid {
    width: 100%;
  }
  
  .header {
    padding-top: 20px;
  }
  
  .progress-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
  }
  
  .progress-modal.active {
    opacity: 1;
    visibility: visible;
  }
  
  .container {
    text-align: center;
    max-width: 800px;
    width: 100%;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .top-section {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  .progress-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .progress {
    position: absolute;
    width: 4px;
    background-color: var(--line-border-fill);
    transition: height 0.4s ease;
    z-index: 1;
  }
  
  .circle {
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid white;
    transition: border-color 0.4s ease;
    margin-bottom: 20px;
    z-index: 2;
    margin-right: 20px;
  }
  
  .circle.active {
    border-color: #482668;
  }
  
  .image-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .top-image {
    max-width: 93%;
    height: auto;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
  }
  
  .btn {
    // background-color: #3498db;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:disabled {
    background-color: #ccc;
  }
  
  .btn:hover:not(:disabled) {
    background-color: #5d0aab;
  }
  
  .nav-buttons {
    display: flex;
    gap: 10px;
  }
  
  
  .table th {
    padding: 20px;
    border: 0px solid #ddd;
  }

  .table td {
    padding: 15px;
    border: 0px solid #ddd;
  }
  
  .small-box {
    position: relative;
    display: block;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  }
  
  .small-box > .inner {
    padding: 10px;
  }
  
  .small-box > .small-box-footer {
    position: absolute;
    text-align: center;
    padding: 3px 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none;
    display: block;
    z-index: 10;
  }
  
  .small-box > .icon {
    color: rgba(0, 0, 0, 0.15);
    z-index: 0;
  }
  
  .fa-arrow-circle-right {
    margin-left: 5px;
  }
  
  .progress-modal.active + .container-fluid {
    filter: blur(5px);
  }
  

//   body {
//     font-family: Arial, sans-serif;
// }
.table-container {
    width: 100%;
    overflow-x: auto;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    min-width: 400px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    // box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
thead tr {
    background-color:#6c7ae0 ;
    color: #ffffff;
    text-align: center;
    font-weight: 100;
    padding-bottom: 10px;
    height: 60px;
    margin-top: 30px;
}
th, td {
    padding: 12px 15px;
    text-align: center;
    margin-bottom: 10px !important;
    
}
tbody tr {
    border-bottom: 3px solid #dddddd;
    font-size: initial;
}
// tbody tr:nth-of-type(even) {
//     background-color: #f3f3f3;
// }
tbody tr:last-of-type {
    border-bottom: 0px solid #6c7ae0;
}




body {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  margin: 0;
}

.cards-container {
  display: flex;
  gap: 20px;
  display: contents;
}

.card {
  background: white;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 20px;
  // gap: 20px;
  min-width: 332px;
  max-width: 250px;
  border: dotted ;
//  background: linear-gradient(180deg, #ffffff 0%, #a799b7 100%)
}

.card-content h3 {
  margin: 0;
  font-size: 1.2rem;
  color: #333;
}

.card-content .percentage {
  color: green;
  font-size: 0.9rem;
}

.card-content p {
  margin: 5px 0 0;
  font-size: 1rem;
  color: #666;
}

.card-content .number {
  font-size: 1.5rem;
  color: #333;
}

.card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-background1 {
  /*background: rgba(0, 0, 0, 0.05);*/
  background-color: lightgreen;
  border-radius: 50%;
  padding: 10px;
  margin-top: -37px;
    margin-left: -246px;
}

.icon-background2 {
  /*background: rgba(0, 0, 0, 0.05);*/
  background-color: orange;
  border-radius: 50%;
  padding: 10px;
  margin-top: -37px;
  margin-left: -240px;
}

.icon-background3 {
  /*background: rgba(0, 0, 0, 0.05);*/
  background-color: #FFCCCB;
  border-radius: 50%;
  padding: 10px;
  margin-top: -37px;
  margin-left: -210px;
}

.icon-background4 {
  /*background: rgba(0, 0, 0, 0.05);*/
  background-color: lightgreen;
  border-radius: 50%;
  padding: 10px;
}

.card:nth-child(1) .percentage {
  color: #28a745;

}

.card:nth-child(2) .percentage {
  color: #ffc107;
}

.card:nth-child(3) .percentage {
  color: #dc3545;
}

.card:nth-child(4) .percentage {
  color: #17a2b8;
}




.filter-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.filter-heading {
  font-size: 14px;
  color: black; 
  padding: 0px;
  
}

.filter-heading a {
  text-decoration: none;
  color: #007bff;
}

.filter-heading a:hover {
  text-decoration: underline;
}