<div *ngIf="isLoaded">
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
        </ul>
        <ul *ngIf="!onboardView" class="navbar-nav ml-auto">
            <li class="nav-items dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <div class="image" style="display: inline; padding: 10px">
                        <!-- <img src="https://tresume.us/Images/Profile_icon.PNG" class="img-circle elevation-2"
                            style="height: auto; width: 2rem" alt="User Image" /> -->
                    </div>
                    <span style="color: #c2c7d0">{{ traineeDetails.FirstName }} &nbsp;
                        <!-- <i class="fa fa-caret-down"></i> -->
                    </span>
                </a>


            <li class="nav-items dropdown">
                <a routerLink="/profile" class="nav-link">
                    <i class="fa fa-user-circle" aria-hidden="true" title="profile"></i>
                </a>
            </li>
            <li class="dropdown" style="margin-top: 7px;margin-right: 20px;">
                <div class="notification-container">
                    <div class="notification-icon" (click)="togglePopup()">
                        <i class="fas fa-bell"></i>
                        <span class="badge" *ngIf="unreadCount !== 0">{{ unreadCount }}</span>
                      </div>
                    <div class="notification-popup" *ngIf="isPopupOpen">
                        <div *ngIf="!selectedNotification" class="notification-header">
                            <span class="notification-title">Notifications</span>
                            <span class="notification-close" (click)="togglePopup()">&times;</span>
                        </div>

                        <div *ngIf="!selectedNotification" class="notification-list">
                            <div *ngFor="let notification of notifications" class="notification-item"
                                [ngClass]="{'unread': !notification.isRead}" (click)="viewNotification(notification.NID,notification.Message,notification.CreateTime)">
                                <div class="notification-text">{{ notification.Message }}</div>
                                <div class="notification-time">{{ formatNotificationTime(notification.CreateTime) }}</div>
                                <div class="notification-dot" *ngIf="!notification.isRead"></div>
                            </div>
                        </div>
                        <div *ngIf="selectedNotification" class="notification-detail">
                            <span class="back-icon" (click)="goBack()">&larr;</span>
                            <!-- <h3>Notification Details</h3> -->
                            <p>{{ selectedNotificationtext }}</p>
                            <div class="notification-detail-time">{{ formatNotificationTime(selectedNotificationTime)
                            }}</div>
                          </div>
                        <!-- <div *ngIf="selectedNotification" class="notification-detail">
                            <span class="back-icon" (click)="goBack()">&larr;</span>
                            <h2 class="notification-detail-title">{{ selectedNotification.Message }}</h2>
                            <div class="notification-detail-time">{{ formatNotificationTime(selectedNotification.time)
                                }}</div>
                        </div> -->
                    </div>
                </div>
            </li>

            <li class="nav-items dropdown" style="margin-top: 6px;">
                <i class="fa fa-sign-out" aria-hidden="true"
                    style="font-size: 28px; cursor: pointer; margin-bottom: 55px;" (click)="logout()"
                    title="logout"></i>
            </li>


            <!-- <li class="nav-item dropdown">
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i> -->


            <!-- <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <div class="dropdown-divider"></div>
                    <a routerLink="/profile" class="dropdown-item dropdown-footer"
                    >Profile</a>
                    <div class="dropdown-divider"></div>
                    <a href="https://tresume.us/SelectWF.aspx" class="dropdown-item dropdown-footer">Switch WF</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item dropdown-footer" (click)="logout()">Sign out</a>
                </div> -->
            <!-- </li> -->
        </ul>
    </nav>
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- <a href="index3.html" class="brand-link">
            <img src="assets/img/Logo_Small.png" alt="Tresume Logo" class="brand-image" style="opacity: 0.8" />
            <span class="brand-text font-weight-light">Tresume</span>
        </a> -->


        <a routerLink="/homelanding">
            <img src="assets/email/logo.png" alt="Tresume Logo" class="brand-image" style="opacity: 0.8" /></a>
        <div class="sidebar">
            <div *ngIf="!onboardView" class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <!-- <img src="https://tresume.us/Images/Profile_icon.PNG" class="img-circle elevation-2"
                        alt="User Image" /> -->
                </div>
                <div class="info">
                    <a href="#" class="d-block">{{ traineeDetails.FirstName }}</a>
                </div>
            </div>
            <div *ngIf="onboardView" class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <!-- <img src="https://tresume.us/Images/Profile_icon.PNG" class="img-circle elevation-2"
                        alt="User Image" /> -->
                </div>
                <div class="info">
                    <a class="d-block">{{ name }}</a>
                </div>
            </div>
            <div *ngIf="onboardView" class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="info">
                    <a class="d-block"><i class="nav-icon fas fa-address-card mr-1"></i>{{ traineeDetails.Title }}</a>
                </div>
            </div>
            <div *ngIf="onboardView" class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="info">
                    <a class="d-block"><i class="nav-icon fas fa-envelope mr-1"></i>{{ traineeDetails.UserName }}</a>
                </div>
            </div>
            <div *ngIf="onboardView" class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="info">
                    <a class="d-block"><i class="nav-icon fas fa-map-marker-alt mr-1"></i>{{
                        traineeDetails.CurrentLocation
                        }}</a>
                </div>
            </div>
            <nav *ngIf="!onboardView" class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                    data-accordion="false" *ngIf="userType =='TRESUMEUSER'">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="alltimelist">
                            <i class="nav-icon fas fa-list "></i>
                            <p>All Time List</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/profile" class="nav-link">
                            <i class="nav-icon fas fa-user "></i>
                            <p> My Profile</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                    data-accordion="false" *ngIf="userType =='RECRUITER'">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="'/dashboard/' + traineeID">
                            <i class="fa fa-tachometer" aria-hidden="true"></i>
                            <p>Dashboard</p>
                        </a>

                    </li>
                    <li class="nav-item" *ngIf="checkFullAccess(2)">
                        <a class="nav-link" routerLink="/compliancedashboard">
                            <!-- <i class="fa fa-bar-chart" aria-hidden="true"></i> -->
                            <i class="fa fa-align-justify" aria-hidden="true"></i>
                            <p>
                                Compliance Dashboard
                            </p>
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="checkFullAccess(1)">
                        <a routerLink="/searchMain" class=" nav-link">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            <p style="margin-left: 4px;">JobBoard Search</p>
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="checkFullAccess(2)">
                        <a routerLink="/candidates/1" class="nav-link">
                            <i class="fa fa-address-book" aria-hidden="true"></i>
                            <p> HRMS</p>
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="checkFullAccess(3)">
                        <a routerLink="/jobapplication" class="nav-link">
                            <i class="fa fa-clone" aria-hidden="true"></i>
                            <p>
                                Job Applications
                            </p>
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="checkFullAccess(3)">
                        <a class="nav-link" routerLink="/jobpostings">
                            <i class="fa fa-briefcase" aria-hidden="true"></i>
                            <p>
                                My Jobs
                            </p>
                        </a>
                    </li>


                    <li class="nav-item" *ngIf="checkFullAccess(6)">
                        <a routerLink="/talentBench" class="nav-link">
                            <i class="fa fa-user-plus" aria-hidden="true"></i>
                            <p style="margin-left: -6px;">
                                Talent Bench
                            </p>
                        </a>
                    </li>

                    <li class="nav-item" *ngIf="checkFullAccess(12)">
                        <a routerLink="/corpdocument" class="nav-link">
                            <i class="fa fa-file-text" aria-hidden="true" style="margin-left: 2px;"></i>
                            <p>
                                Corporate Document
                            </p>
                        </a>
                    </li>

                    <!-- <li class="nav-item" *ngIf="checkFullAccess(10)">
                        <a class="nav-link">
                            <i class="nav-icon fas fa-cog"></i>
                            <p>
                                Workforce
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/onboarding">
                                    <i class="nav-icon fas fa-list "></i>
                                    <p>Checklists</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/onboardingList">
                                    <i class="nav-icon fas fa-chalkboard-teacher"></i>
                                    <p> OnBoarding</p>
                                </a>
                            </li>
                        </ul>
                    </li> -->

                    <li class="nav-item" *ngIf="checkFullAccess(10)">
                        <a class="nav-link" style="cursor: pointer;" (click)="toggleSubMenu('workforceSubMenu')">

                            <i class="nav-icon fas fa-users "></i>
                            <p style="    margin-left: -7px;">
                                Workforce
                                <i class="right fas fa-angle-left"
                                    [ngClass]="{'down': isSubMenuOpen['workforceSubMenu']}"></i>
                            </p>
                        </a>
                        <ul id="workforceSubMenu" class="nav nav-treeview"
                            [ngStyle]="{'display': isSubMenuOpen['workforceSubMenu'] ? 'block' : 'none'}">
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/onboarding">
                                    <i class="nav-icon fas fa-list"></i>
                                    <p>Checklists</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/onboardingList">
                                    <i class="nav-icon fas fa-chalkboard-teacher"></i>
                                    <p>OnBoarding</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item" *ngIf="checkFullAccess(5)">
                        <a class="nav-link" (click)="toggleDropdown('timesheetSubMenu')">
                            <i class="fa fa-clock-o" aria-hidden="true" style="margin-left: 3px;"></i>
                            <p style="margin-left: 3px;">Timesheet</p>
                            <i class="right fas fa-angle-left"
                                [ngClass]="{'down': isDropdownOpen['timesheetSubMenu']}"></i>
                        </a>
                        <ul id="timesheetSubMenu" class="nav nav-treeview"
                            [ngStyle]="{'display': isDropdownOpen['timesheetSubMenu'] ? 'block' : 'none'}">
                            <li class="nav-item" *ngIf="timesheetrole == 1">
                                <a class="nav-link" routerLink="alltimelist">
                                    <i class="fa fa-list-ul" aria-hidden="true"></i>
                                    <p>All Time List</p>
                                </a>
                            </li>
                            <li class="nav-item" *ngIf="timesheetrole == 2">
                                <a class="nav-link" routerLink="alltimelist">
                                    <i class="fa fa-list-ul" aria-hidden="true"></i>
                                    <p>All Time List</p>
                                </a>
                            </li>

                            <li class="nav-item" *ngIf="timesheetrole == 1">
                                <a class="nav-link" routerLink="tsreport">
                                    <i class="fa fa-line-chart" aria-hidden="true"></i>
                                    <p>Timesheet Report</p>
                                </a>
                            </li>
                            <li class="nav-item" *ngIf="timesheetrole == 2">
                                <a class="nav-link" routerLink="tsreport">
                                    <i class="nav-icon fas fa-chart-bar "></i>
                                    <p>Timesheet Report</p>
                                </a>
                            </li>

                            <li class="nav-item" *ngIf="timesheetrole == 1">
                                <a class="nav-link" routerLink="all-invoice">
                                    <i class="fa fa-newspaper-o" aria-hidden="true"></i>

                                    <p>Invoice</p>
                                </a>
                            </li>

                            <li class="nav-item" *ngIf="timesheetrole == 1">
                                <a class="nav-link" routerLink="invoice-report">
                                    <i class="fa fa-clipboard" aria-hidden="true"></i>
                                    <p>Invoice Report</p>
                                </a>
                            </li>

                            <li class="nav-item" *ngIf="timesheetrole == 1">
                                <a class="nav-link" routerLink="/assignrole">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    <p>Assign Role</p>
                                </a>
                            </li>
                            <li class="nav-item" *ngIf="timesheetrole == 1">
                                <a class="nav-link" routerLink="/create-project">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    <p>Create Project</p>
                                </a>
                            </li>
                            <li class="nav-item" *ngIf="timesheetrole == 1">
                                <a routerLink="/allclient/1" class=" nav-link">
                                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                                    <p>Timesheet Clients</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item" *ngIf="checkFullAccess(7)">
                        <a routerLink="/allclient/0" class=" nav-link">
                            <!-- <i class="nav-icon fas fa-users "></i> -->
                            <i class="fa fa-street-view" aria-hidden="true" style="margin-left: 3px;"></i>
                            <p> Clients</p>
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="checkFullAccess(8)">
                        <a routerLink="/vendor/0" class=" nav-link">
                            <i class="fa fa-handshake-o" aria-hidden="true"></i>
                            <p style="margin-left: -4px;"> Vendors</p>
                        </a>
                    </li>

                    <!-- <li class="nav-item" *ngIf="checkFullAccess(9)">
                        <a routerLink="/batch" class="nav-link">
                            <i class="nav-icon fas fa-id-card"></i>
                            <p>
                                Batch
                            </p>
                        </a>
                    </li> -->
                    <!-- <li class="nav-item" *ngIf="checkFullAccess(3)">
                        <a routerLink="/jobboardaccount" class=" nav-link">
                            <i class="nav-icon fas fa-tasks"></i>
                            <p>Job Boards</p>
                        </a>
                    </li> -->
                    <!-- <li class="nav-item" *ngIf="checkFullAccess(12)">
                        <a class="nav-link" (click)="toggleDropdown('myAccountSubMenu')">
                          <i class="nav-icon fas fa-user-tie"></i>
                          <p>
                            My Account
                            <i class="right fas fa-angle-left" [ngClass]="{'down': isDropdownOpen['myAccountSubMenu']}"></i>
                          </p>
                        </a>
                        <ul id="myAccountSubMenu" class="nav nav-treeview" [ngStyle]="{'display': isDropdownOpen['myAccountSubMenu'] ? 'block' : 'none'}">
                          <li class="nav-item">
                            <a routerLink="/accountsadduser" class="nav-link">
                              <i class="nav-icon fas fa-user"></i>
                              <p>Add Users</p>
                            </a>
                          </li>
                        </ul>
                    </li> -->
                    <!-- <li class="nav-item" *ngIf="checkFullAccess(3)">
                        <a routerLink="/division" class=" nav-link">
                            <i class="nav-icon fas fa-sitemap"></i>
                            <p>Division</p>
                        </a>
                    </li> -->
                    <li class="nav-item" *ngIf="checkFullAccess(4)">
                        <a routerLink="/harvest" class=" nav-link">
                            <i class="fa fa-leaf" aria-hidden="true" style="margin-left: 3px;"></i>
                            <p>Harvest</p>
                        </a>
                    </li>
                    <li class="nav-item" style="margin-bottom: 10px;" *ngIf="checkFullAccess(11)">
                        <a class="nav-link" routerLink="/reports">
                            <i class="fa fa-envelope" aria-hidden="true" style="margin-left: 3px;"></i>
                            <p>
                                Reports
                            </p>
                        </a>
                    </li>


                    <li class="nav-item" *ngIf="checkFullAccess(12)">
                        <a class="nav-link" style="cursor: pointer;" (click)="toggleSubMenu('integrationSubMenu')">
                            <i class="nav-icon fas fa-link"></i>
                            <p style="margin-left: -7px; margin-top: 1px;">
                                Integration
                                <i class="right fas fa-angle-left"
                                    [ngClass]="{'down': isSubMenuOpen['integrationSubMenu']}"></i>
                            </p>
                        </a>
                        <ul id="whatsapp" class="nav nav-treeview"
                            [ngStyle]="{'display': isSubMenuOpen['integrationSubMenu'] ? 'block' : 'none'}">
                            <li class="nav-item">
                                <a class="nav-link" routerLink="integration/whatsapp">
                                    <i class="fab fa-whatsapp"></i>
                                    <p>Whatsapp</p>
                                </a>
                            </li>
                        </ul>
                        <ul id="mail-chimps" class="nav nav-treeview"
                        [ngStyle]="{'display': isSubMenuOpen['integrationSubMenu'] ? 'block' : 'none'}">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="integration/mail-chimps">
                                <i class="fab fa-mailchimp"></i>
                                <p> Mail chimp</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="integration/beeline">
                                <i class="fab fa-behance"></i>
                                <p> Beeline</p>
                            </a>
                        </li>
                    </ul>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/profile" class="nav-link">
                            <!-- <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                            <p> My Profile</p> -->
                        </a>
                    </li>

                </ul>

            </nav>
        </div>
    </aside>
</div>