
.main {
  border-top: 3px solid #482668;
  border-bottom: 3px solid #482668;
}
.container-fluid{
  background-color: #fff;
}

.row-border{
  background-color: #482668 ;    
  height: max-content;
  
}

.btn-outline-bgcolor {
  background-color: #482668;
}

.btn-bgcolor
{
background-color: #482668 ; 
}         

h2{
  color: #482668;
}


