.container-fluid {
    width: 100%;
    height: 280px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    background-color: #ede7f6;    
}
.mat-header-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.card-title {
    font-size: 20px;
    margin-bottom: 10px;
}
.mat-header-content div {
    display: flex;
    align-items: center;
    margin: 5px 0;
}
.mat-header-content i {
    margin-right: 10px;
    color: #555;
}

.fas {
    min-width: 24px;
    font-size: 20px;
    text-align: center;
}

.slanted-card {
    position: relative;
    overflow: hidden;
    background: linear-gradient(-45deg, #fff 30%, transparent 30%);
}

.slanted-line {
    position: absolute;
    top: 0;
    left: -30%; 
    width: 140%;
    height: 100%;
    background-color: #fff;
    transform: skewX(-10deg);
    z-index: -1;
}
.col-md-col-md-9.card.slanted-card {
    background-color: #999496;
    color: white;
    font-family: 'Lato', sans-serif;
}
.mat-header-content.m-4 div i {
    color: white;
}
.content2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.amt {
    text-align: left;
    font-size: 16px;
}
.received{
    border-left: 4px inset #FFA523;
}
.pending{
    border-left: 4px inset #1CCD1C;
}
.m-0{
    font-family: 'Times New Roman', Times, serif;
    // font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}