<div class="container-fluid p-4 row justify-content-between" *ngFor="let client of ClientDetails">
    <div class="col-md-9 card slanted-card">
        <div class="slanted-line"></div>
        <div class="mat-header-content m-4">
            <div class="card-title"><strong>{{ client.ClientName }}</strong></div>
            <div class="text-center"><i class="fas fa-mobile-alt"></i> {{ client.ContactNumber }}</div>
            <div><i class="fas fa-envelope"></i> {{ client.EmailID }}</div>
            <div><i class="fas fa-home"></i> {{ client.Address }}</div>
            <div><i class="fas fa-briefcase"></i> {{ client.Industry }}</div>
            <div><i class="fas fa-user"></i> {{ client.Country }}</div>
            <div><i class="fas fa-user"></i> {{ client.Website }}</div>
        </div>
    </div>
    <div class="col-md-2 card">
        <div class="mat-header-content m-4">
            <div class="received-amt">Received Amount</div>
            <div class="pending-amt">Pending Amount</div>
        </div>
    </div>
</div>